<div class="contextual">
	<%= # link_to_if_authorized(l(:label_new_article),
	  link_to(l(:label_new_article),
		{:action => 'new'},
		 :class => 'icon icon-add') %>
</div>
<h2>ArticlesController#index</h2>

<% if (@articles.blank?) %>
  <p class="nodata"><%= l(:message_no_articles) %></p>
<% else %>
  <table class="list">
    <thead><tr>
      <th>#</th>
      <th>boolean</th>
      <th>binary</th>
      <th>integer</th>
      <th>float</th>
      <th>string</th>
      <th>text</th>
      <th>datetime</th>
    </tr></thead>
    <tbody>
      <% @articles.each do |article| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= link_to(article.id, project_article_path(id: article.id)) %></td>
        <td><%= article.boolean %></td>
        <td><%= article.binary %></td>
        <td><%= article.integer %></td>
        <td><%= article.float %></td>
        <td><%= article.string %></td>
        <td><%= article.text %></td>
        <td><%= article.datetime %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>